<mat-toolbar color="primary">
    <span id="title">Feedback Simplified</span>
    <span class="example-fill-remaining-space"></span>
  </mat-toolbar>
<div *ngIf="isLoading">
<mat-progress-bar mode="indeterminate" [color]="warn"></mat-progress-bar></div>
<div class="signin-content">
<mat-card class="example-card">
  <mat-card-header>
    Login 
  </mat-card-header>
  <mat-card-content>
      <div class="example-container">
        <form class="example-form" #f="ngForm" (ngSubmit)="login(f.value)">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" 
                            id="username" name="username"
                            required ngModel #username = "ngModel">
          </mat-form-field>
          <mat-form-field class="example-full-width">
              <input type="password" matInput  placeholder="Password"
                                               id="password" name="password"
                                               required ngModel #password="ngModel">
          </mat-form-field>
          <button mat-raised-button color="primary" 
           id="login-button"
           [disabled]="!f.valid"
           style="color:black;">Login</button>
        </form>
        </div>
  </mat-card-content>

</mat-card>
</div>