
@import '~@angular/material/theming';
@include mat-core();

// define a real custom palette (using http://mcg.mbitson.com)
$deloitte-brand:(
    50: #86bc25,
    100: #86bc25,
    200: #86bc25,
    300: #86bc25,
    400: #86bc25,
    500: #86bc25,
    600: #86bc25,
    700: #86bc25,
    800: #86bc25,
    900: #86bc25,
    A100:#86bc25,
    A200: #86bc25,
    A400: #86bc25,
    A700: #86bc25,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
);

$bv-orange: (
    50: #ffffff,
    100: #fff7f4,
    200: #fecdbd,
    300: #fc9977,
    400: #fc8259,
    500: #fb6c3b,
    600: #fa551d,
    700: #f44205,
    800: #d63a04,
    900: #b83204,
    A100: #ffffff,
    A200: #fff7f4,
    A400: #fc8259,
    A700: #f44205,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
);

// mandatory stuff for theming
$bv-palette-primary: mat-palette($deloitte-brand);
$bv-palette-accent:  mat-palette($bv-orange);

// include the custom theme components into a theme object
$bv-theme: mat-dark-theme($bv-palette-primary, $bv-palette-accent);

// include the custom theme object into the angular material theme
@include angular-material-theme($bv-theme);

// $primary: mat-palette($deloitte-brand);
// $accent:  mat-palette($mat-light-blue, A400);
// $warn:    mat-palette($mat-red, 600);
// $theme: mat-dark-theme($primary, $accent, $warn);
// @include angular-material-theme($theme);    